@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('~@/assets/fonts/Nunito-Light.ttf');
  src: url('~@/assets/fonts/Nunito-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/Nunito-Regular.ttf');
  src: url('~@/assets/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url('~@/assets/fonts/Nunito-Italic.ttf');
  src: url('~@/assets/fonts/Nunito-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('~@/assets/fonts/Nunito-Medium.ttf');
  src: url('~@/assets/fonts/Nunito-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('~@/assets/fonts/Nunito-SemiBold.ttf');
  src: url('~@/assets/fonts/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/Nunito-Bold.ttf');
  src: url('~@/assets/fonts/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('~@/assets/fonts/Nunito-ExtraBold.ttf');
  src: url('~@/assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('~@/assets/fonts/Nunito-Black.ttf');
  src: url('~@/assets/fonts/Nunito-Black.ttf') format('truetype');
}
